<div class="container ">

    <div class="row justify-content-center fila-padre">
        <div class="row align-items-center justify-content-center fila1">
            <div class="col-12  ">
                <p>BANNER</p>
            </div>
            <div class="row  justify-content-center fila-img ">
                <div class="col-3 columna">
                    <img src="./../../../../assets/USER.jpg" alt="" width="232" height="232" class="rounded-circle me-2  ">
                </div>
                <br>
                <div class="row  justify-content-start fila-datos">
                    <div class="col-3 columna-datos">
                        <h2>Nombre</h2>
                        <P>Email: {{usuario.Email}}</P>
                        <p>Telefono:{{usuario.id}}</p>

                    </div>
                </div>
            </div>

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <div class="row  fila-datos-personales border-top border-2 border-dark">

            <p style="text-align: center;">DATOS PERSONALES </p>

            <div class="col-6  columna-datos-personales">
                <label for="Nombre">Nombre: </label>
                <p>Genero: </p>
                <p>Edad: </p>
                <p>Peso: </p>
                <p>Altura: </p>
                <p>Enfermedades: </p>

            </div>
            <div class="col-6 columna-datos-personales">
                <label for="Telefono">Telefono: +52 </label>
                <p>Correo: {{usuario.Email}}</p>
                <p>Estado: </p>
                <p>Nacionalidad: </p>
                <P>Dosis aplicadas: </P>

            </div>
        </div>


    </div>

</div>