<div class="container bg-c rounded mt-3 mb-3 fc">
    <div class="container  mt-1 mb-1 rounded">

        <div class="row mt-3 bg-tt rounded border ms-3 me-3 ">
            <h2> Encuesta</h2>
            <div class="col-6  ">
                <p>Elige una opcion </p>
            </div>
            <div class="col-3  ">
                <p>Si</p>
            </div>
            <div class="col-3  ">
                <p>No</p>
            </div>
        </div>
        <div class="row ms-3 bg-tc me-3 " *ngFor="let preguntas of preguntasBasicas">
            <div class="col-6 ">
                <p>{{preguntas.pregunta}} </p>
            </div>
            <div class="col-3 form-check">

                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">{{preguntas.si}}</label>

            </div>
            <div class="col-3 form-check">

                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">{{preguntas.no}}</label>

            </div>

        </div>
        <hr>
        <div class="container mt-3 mb-3 fc">
            <a href="User/signos" class="btn btn-outline-primary">SIGUIENTE</a>
        </div>
    </div>

</div>