<div class="container w-50 bg-white mb-3 mt-3 rounded shadow ">

    <div class="row align-item-stretch">

        <div class="col-12 bg-white p-5 rounded-end">
            <div class="text-start">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkPyBnFAca4aMoxAedjxqw6bl6rffu1RAQCjynjVJxaDl7a5FySWQksoC2vnefcgHsvEo&usqp=CAU" width="48" alt="">
            </div>

            <h2 class="fw-bold text-start py-5">
                Registra tu cita
            </h2>
            <div class="card d-flex flex-row">
                <img src="https://via.placeholder.com/150" class="img-thumbnail rounded-circle" alt="Foto de perfil" height="250px">
                <div class="card-body text-center">
                    <h5 class="card-title">Nombre: Juan Pérez</h5>
                    <p class="card-text">Edad: 12345678</p>
                    <p class="card-text">Peso: 01/01/1980</p>
                    <p class="card-text">Signos: Calle 123, Ciudad, País</p>
                </div>
            </div>



        </div>
        <div class="col-12 bg-white p-5 rounded-end">


            <!-- Registro -->

            <div class="row g-3">
                <div class="col-sm-4">
                    <label for="Dirección" class="form-label"> Dia</label>
                    <input type="date" id="fecha" name="fecha" class="form-control">
                </div>
                <div class="col-sm-4">
                    <label for="Street" class="form-label">Hora</label>
                    <input type="time" id="hora" name="hora" class="form-control">
                </div>

                <div class="col-sm-4 align-self-end">
                    <a class="btn btn-primary form-control">registro</a>
                </div>



            </div>


            <!-- IMAGEN -->
        </div>





    </div>
</div>