<div class="container w-50 bg-white mb-3 mt-3 rounded shadow ">

    <div class="row align-item-stretch">

        <div class="col-12 bg-white p-5 rounded-end">

            <div class="text-start">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkPyBnFAca4aMoxAedjxqw6bl6rffu1RAQCjynjVJxaDl7a5FySWQksoC2vnefcgHsvEo&usqp=CAU" width="48" alt="">
            </div>

            <h2 class="fw-bold text-start py-5">
                Registra tus datos Medicos y Personales
            </h2>
            <!-- Registro -->

            <div class="row g-3">
                <div class="col-sm-4">
                    <label for="Dirección" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="Dirección" name="Name" placeholder="" value="">
                </div>
                <div class="col-sm-4">
                    <label for="Street" class="form-label">Calle</label>
                    <input type="text" class="form-control" id="Street" placeholder="" value="">
                </div>
                <div class="col-sm-4">
                    <label for="Zipcode" class="form-label">Estado</label>
                    <input type="text" class="form-control" id="Zipcode" placeholder="" value="">
                </div>
                <div class="col-sm-4">
                    <label for="Cp" class="form-label">Codigo Postal</label>
                    <input type="text" class="form-control" id="Street" placeholder="" value="">
                </div>
                <div class="col-sm-4">
                    <label for="City" class="form-label">Ciudad</label>
                    <input type="text" class="form-control" id="City" placeholder="" value="">
                </div>
                <hr>
                <label for="email" class="form-label">Informacion Medica</label>
                <div class="col-sm-4">
                    <label for="Age" class="form-label">Edad</label>
                    <input type="text" class="form-control" id="Age" name="Name" placeholder="" value="">
                </div>
                <div class="col-sm-4">
                    <label for="Gender" class="form-label">Genero</label>
                    <input type="text" class="form-control" id="Gender" placeholder="" value="">
                </div>
                <div class="col-sm-4">
                    <label for="Date_of_birth" class="form-label">Fecha de nacimiento</label>
                    <input type="text" class="form-control" id="Date_of_birth" placeholder="" value="">
                </div>

                <div class="col-12">
                    <label for="Personal_ID" class="form-label">CURP</label>
                    <input type="text" class="form-control" id="Personal_ID">
                </div>
                <div class="col-sm-4">
                    <label for="Blood_Type" class="form-label">Tipo de Sangre</label>
                    <input type="text" class="form-control" id="Blood_Type" name="Blood_Type">
                </div>
                <div class="col-sm-4">
                    <label for="Allergies" class="form-label">Alergias</label>
                    <input type="text" class="form-control" id="Allergies">
                </div>
                <div class="col-sm-4">
                    <label for="Medical_Conditions" class="form-label">Condiciones Medicas </label>
                    <input type="text" class="form-control" id="Medical_Conditions" placeholder="" value="">
                </div>
                <div class="col-sm-4">
                    <label for="Vaccines" class="form-label">Vacunas</label>
                    <input type="text" class="form-control" id="Vaccines" name="Vaccines">
                </div>
                <div class="col-sm-4">
                    <label for="Height" class="form-label">Peso</label>
                    <input type="text" class="form-control" id="Height">
                </div>
                <div class="col-sm-4">
                    <label for="Weight" class="form-label">Estatura</label>
                    <input type="text" class="form-control" id="Weight">
                </div>
                <div class="col-12">
                    <label for="Emergency_Contact" class="form-label">Contacto de Emergencia</label>
                    <input type="tel" class="form-control" id="Emergency_Contact">

                </div>



            </div>

            <br>

            <div class="d-grid">
                <button type="button" class="btn btn-primary">crear</button>

            </div>
            <!-- IMAGEN -->
        </div>


    </div>